<section class="pharma-heading-row">
  <div>
    <p class="pharma-kicker">货盘报价</p>
    <h1>编辑报价</h1>
  </div>
</section>

<section class="pharma-panel">
  <%= render "form", offer: @offer, suppliers: @suppliers, warehouses: @warehouses, drugs: @drugs %>
</section>
