<div class="alert alert-info">
  <div>
    请参考
    <%= external_link_to 'Spree Commerce 的 Adyen 支付配置指南', 'https://spreecommerce.org/docs/integrations/payments/adyen', class: 'alert-link' %>。
  </div>
</div>

<div class="alert alert-info">
  <div>
    生产环境支付需要填写 <strong>生产环境 URL 前缀</strong>。可以在
    <%= external_link_to 'Adyen Customer Area', 'https://ca-live.adyen.com', class: 'alert-link' %>
    的 Developers &gt; API URLs &gt; Prefix 中找到。
  </div>
</div>
