<section class="pharma-heading-row">
  <div>
    <p class="pharma-kicker">药品主数据</p>
    <h1>编辑药品</h1>
  </div>
</section>

<section class="pharma-panel">
  <%= render "form", drug: @drug %>
</section>
