<section class="pharma-heading-row">
  <div>
    <p class="pharma-kicker">货盘管理</p>
    <h1>编辑货盘方</h1>
  </div>
</section>

<section class="pharma-panel">
  <%= render "form", supplier: @supplier %>
</section>
