<div class="text-gray-600 py-12 gap-4 flex flex-col items-center justify-center">
  <p>审计日志属于 Spree Enterprise 功能。</p>

  <%= external_link_to '升级到 Spree Enterprise', 'https://spreecommerce.org/pricing', class: 'btn btn-primary' %>
</div>
